/* Apply styles to the entire form container */
body {
    background-color: lightpink;

  }
  
  #userForm {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(146, 4, 122, 0.1);
    width: 100%;
    /* Set a fixed width for the form */
    margin: 0 auto;
    /* Center the form on the page */
  }
  
  input {
    width: 100%;
    padding: 12px;
    margin-bottom: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }

  
  .experience-entry {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 4px 4px 4px 4px;
  
  
  }
  
  .qualification-entry {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 4px 4px 4px 4px;
  
  }
  
  .input-group {
    flex: 1;
    margin-right: 10px;
  
  }
  
  .input-qualification-group {
    flex: 1;
    margin-right: 10px;
  
  }
  
  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  input[type="submit"] {
    background-color: rgb(235, 118, 196);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  
  }
  
  input[type="submit"]:hover {
    background-color: rgb(202, 87, 164);
  }
  
  .container {
    margin: 0 auto;
    /* Center the container horizontally */

    /* Add some padding for spacing */
  
    background-color: white;
    /* You can adjust this color as needed */
  }